@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2><b>Search Patient Data</b></h2>
    <p><input type="button" class="btn btn-primary" value="Search &raquo;" onclick="location.href='@Url.Action("Search", "Dates")'" /></p>
</div>

